<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>ORMAP Map Production Toolbar</Name>
  <AddInID>{a085f8d7-92ef-4d2f-ac7b-d57cd13009b4}</AddInID>
  <Description>Map Production Toolbar</Description>
  <Version>1.0</Version>
  <Image />
  <Author>Shad Campbell</Author>
  <Company>ORMAP</Company>
  <Date>04/09/2012</Date>
  <Targets>
    <Target name="Desktop" version="10.1" />
  </Targets>
  <AddIn language="PYTHON" library="ORMAP_MapProduction.py" namespace="ORMAP_MapProduction">
    <ArcMap>
  <Commands>
    <Button caption="Zoom to a MapNumber" category="ORMAP Map Production" class="ZoomToMapNumber" id="ORMAP_MapProduction.ZoomToMapNumber" image="Images\ZoomToMapNumber.png" message="Creates a map for a specified MapNumber." tip="Zoom to a MapNumber">
      <Help heading="" />
    </Button>
    <Button caption="Save Page Layout Elements" category="ORMAP Map Production" class="SavePageLayoutElements" id="ORMAP_MapProduction.SavePageLayoutElements" image="Images\SavePageLayoutElements.png" message="Saves the map elements (such as title, disclaimer, etc) so that the next time the map is created it will use these settings instead of the default settings." tip="Save Page Layout Elements">
      <Help heading="" />
    </Button>
    <Button caption="Save Definition Queries" category="ORMAP Map Production" class="SaveDefinitionQueries" id="ORMAP_MapProduction.SaveDefinitionQueries" image="Images\SaveDefinitionQueries.png" message="Save the definition queries so that the next time the map is created it will use these settings instead of the default settings." tip="Save Definition Queries">
      <Help heading="" />
    </Button>
    <Button caption="Print Map(s)" category="ORMAP Map Production" class="PrintMaps" id="ORMAP_MapProduction.PrintMaps" image="Images\PrintMap.png" message="Print one or more maps." tip="Print Maps">
      <Help heading="" />
    </Button>
    <Button caption="Page Layout Element Report" category="ORMAP Map Production" class="PageLayoutElementReport" id="ORMAP_MapProduction.PageLayoutElementReport" image="Images\PageLayoutElementsReport.png" message="Get a report of all the page elements and thier locations.  This is useful for determining which elements need to be renamed or modified." tip="Get a Page Layout Element Report">
      <Help heading="" />
    </Button>
    <Button caption="Import Config FileS" category="ORMAP Map Production" class="ImportConfigFiles" id="ORMAP_MapProduction.ImportConfigFiles" image="Images\ImportConfigFiles.png" message="Import ORMAP Map Production Configuration Files.  You many need to ask your administrator where these files are located." tip="Import Configuration Files">
      <Help heading="" />
    </Button>    
  </Commands>

  <Extensions>
        </Extensions>
  <Toolbars>
    <Toolbar caption="ORMAP Map Production Toolbar" category="ORMAP Map Production" id="ORMAP_MapProduction.toolbar" showInitially="true">
      <Items>
        <Button refID="ORMAP_MapProduction.ZoomToMapNumber" />
        <Button refID="ORMAP_MapProduction.SavePageLayoutElements" />
        <Button refID="ORMAP_MapProduction.SaveDefinitionQueries" />
        <Button refID="ORMAP_MapProduction.PrintMaps" />
        <Button refID="ORMAP_MapProduction.PageLayoutElementReport" />
        <Button refID="ORMAP_MapProduction.ImportConfigFiles" />
      </Items>
    </Toolbar>
  </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>